html { 
    margin:0;
}

body {
background-color: white;
width: 100%;
}

.google-logo {
    height: 92px;
    width: 272;
    padding-top: 109px;
    display: block;
  margin-left: auto;
  margin-right: auto;
}

ul {
    list-style-type: none;
    margin: 0;
  padding: 0;
}

.navbar {
    display: inline;
     text-decoration: none;

}
.nav-items-left {
    float: left;
    padding: 15px;
    text-decoration: none;
}
.nav-items-right {
    float: right;
    padding: 15px;
    text-decoration: none;

}
.sign-in-right {
    
}

.search-bar {
    width:fit-content;
    margin-left: auto;
    margin-right: auto;
}
.search {
    padding-left: 10px;
    width:482px;
    height: 44px;
    font-size: 16px;
    border-radius: 25px;
    border-color: grey;
    opacity: 40%;
    border-width: 1px;
    
}

#maori {
    width: fit-content;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;

}
.nav-sign-in {
    background: #1a73e8;
    border: 1px solid transparent;
    color:white;
}
.nav-link {
    text-decoration: none;
}
.footer {
    background:#f2f2f2;
    font-family:arial;
    color:#757575;
    padding:5px;
    width: 100%;
    left:-5px;
    display: inline;
    bottom: 0;
    position: fixed;
    }
.footer-left {
    float:left;
}

.footer-right {
    float: right;
}

.buttons {
    display: block;
    text-align: center;
    }


button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;

}
