html { 
    margin:0;
}

body {
background-color: white;
width: 100%;
overflow-x: hidden;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar {
    display: inline;
    text-decoration: none;
     
}
.nav-items-left {
    float: left;
    padding: 15px;
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: 14px;
}

.nav-items-right {
    float: right;
    padding: 15px;
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: 14px;
    }

    nav {
    padding-right:20px;
}

.sign-in-right {
    float:right;
    padding: 10;
    text-align: center;
    color: white !important;
    text-decoration: none;
    margin: 0 8px;
    
}

.sign-in {
    float: right;
    color: white;
    background: #1a73e8;
    align-items: center;
    margin-top: 4px;
    width: 96px;
    height: 36px;
   
}
.sign-btn {
    
    text-decoration: none; 
    color:white;
    margin-top:10px;
    
    } 
 
.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 92px;
    padding-top: 109px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    width: 100%;
}


.search-bar {
    width: auto;
    max-width: 584px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}
.search {
    padding-left: 10px;
    width:582px;
    height: 44px;
    font-size: 16px;
    border-radius: 25px;
    border-color: grey;
    opacity: 40%;
    border-width: 1px;
    margin-left: auto;
    margin-right: auto;
    
}
.buttons {
    display: block;
    text-align: center;
    width:584px;
    margin-left: auto;
    margin-right: auto;
    }

#maori {
    width: fit-content;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.maori-text {
    text-decoration: none;
}

.nav-sign-in {
    background: #1a73e8;
    border: 1px solid transparent;
    color:white;
}


.nav-link {
    text-decoration: none;
    padding: 15px;
    color: #70757a;
    justify-content: space-between;
}

.footer {
    background:#f2f2f2;
    font-family:arial;
    color:#757575;
    padding:5px;
    width: 100%;
    left:-5px;
    display: inline;
    bottom: 0;
    position: fixed;
    }
.footer-left {
    float:left;
}

.footer-right {
    float: right;
}

.search1 {
    margin-left: auto;
    margin-right: auto;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
   }

.lucky {
    margin-left: auto;
    margin-right: auto;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}


button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;

}
